<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Profile</title>
</head>
<body>

	<div>
   		<table>
   		 <tr>
   		 	<td th:text=${spitter.getUserName()}>UserName</td>
   		 	<td th:text=${spitter.getFirstName()}>FirstName</td>
   		 	<td th:text=${spitter.getLastName()}>LastName</td>
   		 	<td th:text=${spitter.getEmail()}>E-mail</td>
   		 </tr>
     
   
   		</table>
   </div>

</body>
</html>